# Backend specific env variables.
# Used to include additional routes or settings for testing or development purposes.
# One of: "development" or "production".
ENVIRONMENT=development

# Secret keys and expiration settings for JWT tokens.
ACCESS_TOKEN_SECRET_KEY=your-secret-key-for-access-token
REFRESH_TOKEN_SECRET_KEY=your-secret-key-for-refresh-token
ACCESS_TOKEN_EXPIRE_MINUTES=1440
REFRESH_TOKEN_EXPIRE_DAYS=7

# PostgreSQL specific env variables.
POSTGRES_USER=dba
POSTGRES_PASSWORD=sql
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=skin-care-app